{% extends 'AppBundle::layout.html.twig' %}


{% block title %}{{ 'sitename' | trans }} | {{ 'home_page.title'|trans }}{% endblock %}

{% block content %}
	<div class="jumbotron">
		<div class="container">
			<div clas="row">
				<div class="col-md-12">
					<p>
						Bienvenue sur One Trick Poro, le site est actuellement en construction.
					</p>
					<p>
						Welcome on One Trick Poro, the site is under construction.
					</p>
				</div>
			</div>
			{#
			<h1>{{ 'home_page.title'|trans }}</h1>
			<p>{{ 'home_page.content'|trans }}</p>
			<p><a class="btn btn-primary btn-lg" role="button" href="{{	url('app_about') }}">{{ 'home_page.more'|trans }}</a></p>
			#}
		</div>
	</div>
{% endblock content %}
