{% extends '::base.html.twig' %}

{% block stylesheets %}
	{{ parent() }}
	{% stylesheets '@bootstrap_css' output='css/bootstrap.css' %}
		<link rel="stylesheet" href="{{ asset_url }}" />
	{% endstylesheets %}
	{% stylesheets 'bundles/app/css/*' filter='cssrewrite, uglifycss' %}
	<link rel="stylesheet" href="{{ asset_url }}" />
	{% endstylesheets %}
	<link rel="stylesheet" type="text/css" href="{{ asset('bundles/bmatznerfontawesome/css/font-awesome.min.css') }}" />
{% endblock stylesheets %}

{% block javascripts_head %}
	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
	<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
	<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->
{% endblock javascripts_head %}

{% block javascripts_body %}
	{{ parent() }}
	{% javascripts '@bootstrap_js' output='js/bootstrap.js'	%}
		<script src="{{ asset_url }}"></script>
	{% endjavascripts %}
{% endblock javascripts_body %}

{% block body %}
	{% include 'AppBundle:_components:navigation.html.twig' %}
	{% block content %}
	{% endblock content %}
	{% include 'AppBundle:_components:footer.html.twig' %}
{% endblock body %}
