{% extends 'AppBundle::layout.html.twig' %}


{% block javascripts_body %}
	{{ parent() }}
	<script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
	<script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
	<script src="{{ asset ('bundles/app/js/external/clipboard.min.js') }}" type="text/javascript"></script>
	<script src="{{ asset ('bundles/app/js/link-summoner-to-user.js') }}" type="text/javascript"></script>
{% endblock %}

{% block content %}
	<div class="container">
		<div class="col-xs-12 col-md-12 white-bg">
			<h1>Profil de {{ user.username }}</h1>
			{% if app.user and app.user == user %}
				{# Utilisateur connecté et sur son profil #}
				<div class="btn-group btn-group-justified" role="group" aria-label="...">
					<div class="btn-group" role="group">
						<a class="btn btn-primary" role="button" href="{{	path('app_profile_edit', {'userId': app.user.id}) }}">Modifier mes infos</a>
					</div>
					<div class="btn-group" role="group">
						{# Bouton unlink summoner #}
						<button class="btn btn-primary" id="btn-unlink-account" type="button" data-toggle="modal" data-target="#modalUnlinkSummoner" data-backdrop="static">Delier un compte</button>
					</div>
					<div class="btn-group" role="group">
						{# Bouton link summoner #}
						<button class="btn btn-primary" id="btn-link-account" type="button" data-toggle="modal" data-target="#modalLinkSummoner" data-backdrop="static">Lier un compte LoL</button>
					</div>
				</div>
				{# Modal link summoner #}
				<div id="modalLinkSummoner" class="modal fade" role="dialog">
					<div class="modal-dialog">

						<!-- Modal content-->
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal">&times;</button>
								<h4 class="modal-title">Modal Header</h4>
							</div>
							<div class="modal-body">
								<div id="responseDiv" class="col-md-12 text-center">
								</div>
								<div id="loadingDiv" class="col-md-12 text-center hidden">
									<img src="{{ asset('bundles/app/images/loader.gif' ) }}" />
									<h1>Opération en cours</h1>
								</div>
								<p>Pour lier votre compte, renommez une page de runes avec le nom suivant:</p>
								<div class="input-group">
									<span class="input-group-addon" id="foo">LeagueOfTools-{{ app.user.id }}</span>
									<span class="input-group-btn">
										<button class="btn btn-default" data-clipboard-target="#foo"><i class="fa fa-clipboard" aria-hidden="true"></i> Copier</button>
									</span>
								</div>
								<form role="form" id="formLinkSummonerToUser">
									<div class="form-group">
										<label for="summonerToLink">Invocateur à lier:</label>
										<input type="text" id="summonerToLink" class="form-control" required>
									</div>
									<button class="btn btn-primary" type="submit">Lier ce summoner</button>
									<button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
								</form>
							</div>
						</div>

					</div>
				</div>
				{# Modal unlink summoner #}
				<div id="modalUnlinkSummoner" class="modal fade" role="dialog">
					<div class="modal-dialog">

						<!-- Modal content-->
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal">&times;</button>
								<h4 class="modal-title">Modal Header</h4>
							</div>
							<div class="modal-body">
								<div id="responseDiv" class="col-md-12 text-center">
								</div>
								<div id="loadingDiv" class="col-md-12 text-center hidden">
									<img src="{{ asset('bundles/app/images/loader.gif' ) }}" />
									<h1>Opération en cours</h1>
								</div>
								<p>Pour lier votre compte, renommez une page de runes avec le nom suivant:</p>
								<div class="input-group">
									<span class="input-group-addon" id="foo">LeagueOfTools-{{ app.user.id }}</span>
									<span class="input-group-btn">
										<button class="btn btn-default" data-clipboard-target="#foo"><i class="fa fa-clipboard" aria-hidden="true"></i> Copier</button>
									</span>
								</div>
								<form role="form" id="formLinkSummonerToUser">
									<div class="form-group">
										<label for="summonerToLink">Invocateur à lier:</label>
										<input type="text" id="summonerToLink" class="form-control" required>
									</div>
									<button class="btn btn-primary" type="submit">Lier ce summoner</button>
									<button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
								</form>
							</div>
						</div>

					</div>
				</div>
			{% else %}

			{% endif %}


			{% include 'AppBundle:Account:profile_summoners.html.twig' %}
		</div>
	</div>
{% endblock content %}
