{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
{% if error %}
    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}

<div class="row">
    <div id="form-login" class="col-xs-12 col-md-4 col-md-offset-4 white-bg">
        <h2 class="titre">{{ 'security.login.submit'|trans }}</h2>
        <hr>
        <form role="form" action="{{ path("fos_user_security_check") }}" method="post">
            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
            <div class="form-group">
                <label for="username">{{ 'security.login.username'|trans }}</label>
                <input class="form-control" type="text" id="username" name="_username" value="{{ last_username }}" required="required" />
            </div>
            <div class="form-group">
                <label for="password">{{ 'security.login.password'|trans }}</label>
                <input class="form-control" type="password" id="password" name="_password" required="required" />
            </div>
            <div class="checkbox">
                <label for="remember_me"><input type="checkbox" id="remember_me" name="_remember_me" value="on" /> {{ 'security.login.remember_me'|trans }}</label>
            </div>
            <input class="btn btn-primary btn-block" type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" />
            <hr>
            <div class="form-group">
                <a href="{{ path('fos_user_registration_register') }}">{{ 'layout.register'|trans }}</a>
                <br>
                <a href="{{ path('fos_user_resetting_request') }}">{{ 'custom.forgot_password'|trans }}</a>
            </div>
        </form>
    </div>
</div>

{% endblock fos_user_content %}
